main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 34%;
  background-image: linear-gradient(to left, rgb(178, 222, 252) , rgb(22, 156, 245));
}

header{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.name{
  grid-row: 1/2;
  grid-column: 2/3;
}

.headshot{
  grid-row: 1/2;
  grid-column: 1/2;
  width: 100vw;
  height: 100vh;
}

.bio{
  grid-row:2/3;
  grid-column: 2/3;
}

.job-title{
  grid-row: 2/2;
  grid-column: 1/2;
}

.contact-info{
  grid-row: 1/2;
  grid-column: 1/2;
}

.prof-hist{
  grid-row: 3/4;
  grid-column: 2/3;
}
.educ-hist{
  grid-row: 2/3;
  grid-column: 2/3;
}

.areas-exp{
  grid-row: 1/2;
  grid-column: 2/3;
}