main{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;;

}

header{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}


.right-col-head{
  grid-row: 1/2;
  grid-column: 1/2;
}

.left-col-head{
  grid-row: 5;
  grid-column: 1;
  background-color: blue;
}

.right-col-main{
  grid-row: 3;
  grid-column: 1;
}

.left-col-main{
  grid-row: 5;
  grid-column: 1;
  background-color: blue;
}