body{
  background-image: radial-gradient(rgb(200, 185, 240), rgb(101, 101, 248));
  font-family: 'Ubuntu', sans-serif;
}
h1{
  text-align: center;
  background-color: rgb(248, 166, 179);
  padding: 2%;
}

.gallery-imgs{
  display: grid;
  grid-template-columns: 33% 34% 33%;
  grid-template-rows: repeat(15, 100px);
}

.gallery-imgs img{
  width: 300px;
  height: auto;
}

.img1{
  grid-column: 1/2;
  grid-row: 1/6;
  background-image: url("images/aaron-burden-5fedGbqYwvM-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img2{
  grid-column: 2/3;
  grid-row: 1/5;
  background-image: url("images/amir-kalhor-Otl-rfJEexo-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img3{
  grid-column: 3/4;
  grid-row: 1/5;
  background-image: url("images/elias-maurer-zKYfPEA3vh0-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img4{
  grid-column: 1/2;
  grid-row: 6/11;
  background-image: url("images/jeremy-bishop-EwKXn5CapA4-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img5{
  grid-column: 2/3;
  grid-row: 5/10;
  background-image: url("images/justin-docanto-HUuXYr9rt9s-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img6{
  grid-column: 3/4;
  grid-row: 5/10;
  background-image: url("images/mike-ko-tjod6u2RpiU-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img7{
  grid-column: 1/2;
  grid-row: 11/16;
  background-image: url("images/roman-X3RDLYTOuqc-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img8{
  grid-column: 2/3;
  grid-row: 10/16;
  background-image: url("images/zoltan-tasi-vHnVtLK8rCc-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img9{
  grid-column: 3/4;
  grid-row: 10/16;
  background-image: url("images/yosh-ginsu-qexZLgMcbPc-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.overlay{
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  height: 100%;
  width: 100%;
  cursor: pointer; /* Add a pointer on hover */
  position: absolute;
  display: flex;
  transition: .5s ease;
  opacity: 0;
}

.img1:hover .overlay {
  opacity: 1;
  animation: pulse 2s 1;}

.img2:hover .overlay {
  opacity: 1;
  animation: pulse 2s 1;}

.img3:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img4:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img5:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img6:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img7:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img8:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

.img9:hover .overlay{
  opacity: 1;
  animation: pulse 2s 1;
}

p{
  color: white;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}


  @media only screen 
  and (max-device-width: 768px)
  {
    .gallery-imgs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }