body{
  background-image: radial-gradient(rgb(200, 185, 240), rgb(101, 101, 248));
}
h1{
  text-align: center;
  background-color: rgb(248, 166, 179);
}

.gallery-imgs{
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: repeat(9, 100px);
}

.gallery-imgs img{
  width: 300px;
  height: auto;
}

.img1{
  grid-column: 1/2;
  grid-row: 1/6;
  background-image: url("images/aaron-burden-5fedGbqYwvM-unsplash.jpg");
  background-size: cover;
  position: relative;
}

.img2{
  grid-column: 2/3;
  grid-row: 1/3;
}

.img3{
  grid-column: 3/4;
  grid-row: 1/6;
}

.img4{
  grid-column: 1/2;
  grid-row: 6/8;
}

.img5{
  grid-column: 2/3;
  grid-row: 4/10;
}

.img6{
  grid-column: 3/4;
  grid-row: 6/8;
}

.img7{
  grid-column: 4/5;
  grid-row: 1/5
}

.img8{
  grid-column: 4/5;
  grid-row: 5/8;
}

.overlay1{
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  height: 100%;
  width: 100%;
  cursor: pointer; /* Add a pointer on hover */
  position: absolute;
}

.txt1{
  color: white;
}


  @media only screen 
  and (max-device-width: 768px)
  {
    .gallery-imgs {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }